---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION,SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container mx-auto py-4 px-8 space-y-5">
      <section>
        <ul class="list-disc">
          {
            posts.map((post) => (
              <li class="space-x-1">
                <a
                  href={`/blog/${post.slug}/`}
                  class="underline underline-offset-4"
                >
                  {post.data.title}
                </a>
                <time
                  datetime={post.data.pubDate.toISOString()}
                  class="italic font-thin"
                >
                  {post.data.pubDate.toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </time>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
