---
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION,SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark:bg-black dark:text-primary-50">
    <Header />
    <div
      class="bg-primary-200 dark:bg-primary-800 border-b-black dark:border-b-white border-b-2 space-y-4"
    >
      <div class="container max-w-screen-md mx-auto py-16 px-10">
        <p class="text-2xl">My Blog</p>
        <a
          href="/rss.xml"
          class="flex items-center space-x-1 hover:text-orange-500 hover:cursor-pointer"
        >
          <div>RSS</div>
          <Icon pack="mdi" name="rss-box" class="h-5 w-5" />
        </a>
      </div>
    </div>
    <main class="container max-w-screen-md mx-auto py-16 px-10 space-y-5">
      <section>
        <ul class="space-y-8">
          {
            posts.map((post) => (
              <li class=" bg-primary-50 dark:bg-primary-900 border-black border-2 dark:border-white p-4">
                <a
                  href={`/blog/${post.slug}/`}
                  class="underline underline-offset-4"
                >
                  {post.data.title}
                </a>
                <time
                  datetime={post.data.pubDate.toISOString()}
                  class="font-thin"
                >
                  {post.data.pubDate.toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </time>
                <div class="prose dark:prose-invert">{post.data.description}</div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
