---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../consts";
import BaseLayout from "./BaseLayout.astro";
import Utterances from "./Utterances.astro";

type Props = CollectionEntry<"blog">["data"] & {
  ogImage?: string;
};

const { title, description, pubDate, updatedDate, toc, ogImage } = Astro.props;

const tocDisplay = toc ? "initial" : "none";
---

<BaseLayout>
  <BaseHead
    title={`${title} | ${SITE_TITLE}`}
    description={description}
    ogImage={ogImage}
    slot="head"
  />

  <div slot="beneath-header">
    <p class="text-2xl">{title}</p>
    {
      pubDate && (
        <time class="font-thin">
          {typeof pubDate === "string"
            ? pubDate
            : pubDate.toLocaleDateString("en-us", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
        </time>
      )
    }
    {
      updatedDate && (
        <div class="font-light">
          Last updated on{" "}
          <time>
            {typeof updatedDate === "string"
              ? updatedDate
              : updatedDate.toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
          </time>
        </div>
      )
    }
    <p>By Aidan Kinzett</p>
  </div>
  <div
    class="prose md:prose-md prose-li:marker:text-primary-800 prose-a:text-primary-800 prose-headings:text-primary-800 dark:prose-invert dark:prose-headings:text-primary-200 dark:prose-li:marker:text-primary-200 dark:prose-a:text-primary-200 prose-code:before:hidden prose-code:after:hidden"
  >
    <slot />
  </div>
  <Utterances />
</BaseLayout>

<style is:global define:vars={{ tocDisplay }}>
  .toc {
    display: var(--tocDisplay);
  }

  :not(pre) > code {
    background-color: theme("colors.primary.100");
    color: theme("colors.primary.800") !important;
    border-radius: 0.25rem;
    padding: 0.1rem 0.25rem;
  }
</style>
