---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="container mx-auto py-4 px-8 text-primary-900">
      <article class="space-y-2">
        <h1 class="text-2xl">{title}</h1>
        {pubDate && <time class="italic font-thin">{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <!-- <hr /> -->
        <div class="font-sans">
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
